!!!
%html{:lang => "en"}
  %head
    %title Share my Share
    %meta{:charset => "utf-8"}
    
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
            
    / Styles
    = include_stylesheet :bootstrap
    = include_stylesheet :custom
    = include_stylesheet :"jquery-ui"

    / HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
    = include_javascript :"http://html5shim.googlecode.com/svn/trunk/html5.js"
    
    / fav and touch icons
    %link{:href => "favicon.ico", :rel => "shortcut icon"}
    
  %body
    %a{:href => "/", :title => "Home"}
      %img#header-logo{:src => "images/logo-wide.png", :alt => "Share my Share", :title => "Share my Share"}
    
    .container
      = yield
      
      %hr
      .footer
        %p
          A site by Megan Kelly, Forest Gregg, <a href='http://ayaoconnor.com'>Aya O'Connor</a> and <a href='http://derekeder.com'>Derek Eder</a> &copy; 2012
    
    = include_javascript :jquery
    = include_javascript :bootstrap
    = include_javascript :"jquery-ui.min"
    = include_javascript :application
    = include_javascript :"jquery.validation"
    
    - if production?
      = include_javascript :analytics_lib